<h1>My Lists</h1>

<%= link_to "Create a movie list", new_list_path %>

<ul>
  <% @lists.each do |list|  %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <%= link_to list.name, list_path(list) %>
  <% end %>
</ul>
